In [12]:
import pandas as pd
import sys
sys.path.append("../scripts")
from read_data import ReadData
from clean_data import CleanDataFrame

In [13]:
reader= ReadData()
cleaner = CleanDataFrame()

In [14]:
reader = ReadData()
df = reader.read_csv('../data/AdSmartABdata.csv')

In [15]:
df.head()
df = cleaner.run_pipeline(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   experiment   1243 non-null   object
 1   hour         1243 non-null   int64
 2   platform_os  1243 non-null   int64
 3   browser      1243 non-null   object
 4   day_of_week  1243 non-null   object
 5   brand        1243 non-null   object
 6   response     1243 non-null   int64
dtypes: int64(3), object(4)
memory usage: 68.1+ KB

In [16]:
df.to_csv("../data/AdSmartABdata.csv")

# Browser

In [6]:
df.groupby('browser').count()

,experiment,hour,platform_os,day_of_week,brand,response
browser,,,,,,
Chrome,2,2,2,2,2,2
Chrome Mobile,695,695,695,695,695,695
Chrome Mobile WebView,227,227,227,227,227,227
Chrome Mobile iOS,1,1,1,1,1,1
Facebook,156,156,156,156,156,156
Mobile Safari,14,14,14,14,14,14
Mobile Safari UI/WKWebView,3,3,3,3,3,3
Samsung Internet,145,145,145,145,145,145

In [7]:
by_browser = df.groupby('browser')
browsers = by_browser['experiment'].count() > 100
browsers = browsers[browsers==True].index
browser_dfs = {}
for browser in browsers:
    b_df = df.query(f"browser=='{browser}'").reset_index(drop=True)
    browser_dfs[browser] = b_df

for name, b_df in browser_dfs.items():
    file_path = f"../data/browser_{name.replace(' ', '_').lower()}.csv"
    b_df.to_csv(file_path)
    # print(file_path)

In [8]:
df.groupby("brand").count()

             experiment  hour  platform_os  browser  day_of_week  response
brand
generic             795   795          795      795          795       795
known brand         448   448          448      448          448       448

In [9]:
for brand in ['generic', 'known brand']:
    b_df = df.query(f"brand=='{brand}'")
    file_path = f"../data/brand_{brand.replace(' ', '_').lower()}.csv"
    b_df.to_csv(file_path)

# OS platform

In [10]:
df.groupby('platform_os').count()

             experiment  hour  browser  day_of_week  brand  response
platform_os
5                    17    17       17           17     17        17
6                  1226  1226     1226         1226   1226      1226

In [11]:
by_platform_os = df.groupby('platform_os')
platforms = by_platform_os['experiment'].count() > 100
platforms = platforms[platforms==True].index
platform_os_dfs = {}
for platform_os in platforms:
    p_df = df.query(f"platform_os=='{platform_os}'").reset_index(drop=True)
    platform_os_dfs[platform_os] = p_df

for name, p_df in platform_os_dfs.items():
    file_path = f"../data/platform_os_{name}.csv"
    p_df.to_csv(file_path)
    # print(file_path)